// 9:41
color: 'black';
 fontSize: 15;
 fontFamily: 'Roboto';
 fontWeight: '900';
 wordWrap: 'break-word'
---
// Skip
color: '#0056FB';
 fontSize: 12;
 fontFamily: 'Poppins';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Next
color: 'white';
 fontSize: 12;
 fontFamily: 'Poppins';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// No more market stress
color: 'black';
 fontSize: 20;
 fontFamily: 'Poppins';
 fontWeight: '600';
 letterSpacing: 0.20;
 wordWrap: 'break-word'
---
// Order your food items from the comfort of your home with no worries.
color: 'black';
 fontSize: 16;
 fontFamily: 'Poppins';
 fontWeight: '400';
 letterSpacing: 1.28;
 wordWrap: 'break-word'